.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;

  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
}
